{% extends "rent/base/base.html" %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-lg-8">
                    <h6 class="m-0 font-weight-bold text-primary">All Payments</h6>
                </div>
                <div class="col-lg-4 text-right">

                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Receipt Date</th>
                        <th>Receipt No</th>
                        <th>House Details</th>
                        <th>Paid Amount</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Sl No</th>
                        <th>Receipt Date</th>
                        <th>Receipt No</th>
                        <th>House Details</th>
                        <th>Paid Amount</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    {% if not payments_lists %}
                    <tr>
                        <td colspan="3" class="text-center">No Data Available!</td>
                    </tr>
                    {% else %}
                    {% for i in payments_lists %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.paid_date }}</td>
                        <td>{{i.receipt_no}}</td>
                        <td>{{i.house_details}}</td>
                        <td>{{i.paid_amount}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!--add houses bootstrap modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Payments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="houseType">Receipt Number</label>
                        <input type="text" name="receipt_number" class="form-control rounded-0" id="houseType"
                               placeholder="Ex: B24501">
                    </div>
                    <div class="form-group">
                        <label for="selectHouseType">Select Tenants:</label>
                        <select class="form-control rounded-0" id="selectHouseType" name="house_number">
                            {% for i in houses %}
                                <option value="{{i.id}}">{{i.number}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="paid_amount">Rental Amount(Monthly)</label>
                        <input type="text" name="monthly_amount" class="form-control rounded-0" id="paid_amount"
                               placeholder="Ex: 20,000">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary rounded-0">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--closed add house modal -->

<!--HOUSE INFO MODULE-->
<!--info modals gose here -->
{% for i in houses %}
<div class="modal fade" id="infoModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">About</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                      <tr>
                        <td>House Number</td>
                        <td>{{i.number}}</td>
                      </tr>
                      <tr>
                        <td>House Name</td>
                        <td>{{i.name}}</td>
                      </tr>
                      <tr>
                        <td>House Type</td>
                        <td>{{i.type.type}}</td>
                      </tr>
                      <tr>
                        <td>House Address</td>
                        <td>{{i.address}}</td>
                      </tr>
                      <tr>
                        <td>House Rent</td>
                        <td>{{i.rent}}</td>
                      </tr>
                      <tr>
                        <td>Created On</td>
                        <td>{{i.created_on}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>
{% endfor %}


<!--HOUSE TYPE EDIT MODULE -->
<!-- Modal -->
{% for i in houses %}
<div class="modal fade" id="editModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Reports</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/houses/edit/{{i.id}}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="editHouseType">House Number</label>
                        <input type="text" name="house_number" class="form-control rounded-0" id="editHouseType"
                               value="{{i.number}}">
                    </div>
                    <div class="form-group">
                        <label for="editHouseName">Name(Optional)</label>
                        <input type="text" name="house_name" class="form-control rounded-0" id="editHouseName"
                               value="{{i.name}}">
                    </div>

                    <div class="form-group">
                        <label for="editsHouseType">Select House Type:</label>
                        <select class="form-control rounded-0" id="editsHouseType" name="house_type">
                            {% for type in house_type %}
                                <option value="{{type.id}}" {% if i.type.id == type.id %}selected{% endif %}>
                                    {{type.type}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editRentalAmount">Rental Amount(Monthly)</label>
                        <input type="text" name="monthly_amount" class="form-control rounded-0" id="editRentalAmount"
                               value="{{i.rent}}">
                    </div>
                    <div class="form-group">
                      <label for="comments">Address:</label>
                      <textarea class="form-control" name="address" rows="4" id="comments">{{i.address}}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary rounded-0">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!--closed add house modal -->
<!--CLOSE HOUSE TYPE EDIT MODULE -->
<!--closed info modals -->
{% endblock %}